<h1>Hello welcome to Colege Fund Me</h1>
<h2>This is your first time here, so we want to know if you are a student who need college fund.</h2>

<div class="student">
	<p>
  		<%= link_to "Yes, i am student", save_role_path(type:"student")%>
	</p>
</div>

<div class="other">

	<p>
  		<%= link_to "Not, i am not student", save_role_path %>
	</p>	
</div>

